<!DOCTYPE html>
<html lang="zh">
  <head>
    <title>火花</title>
    <link href="faviconspark.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">-->
  </head>
  <body>
    <div class="main container center-horizontal">
      <div class="title"><!--<img src="logo.svg" alt="LOGO" class="logo">--><%= link_to image_tag("logo.svg", :border => 0, :class => 'logo')%><span>火花</span></div>
      <h2>年轻的创造者们</h2>
      <h2>在火花上分享他们的成长和故事</h2>
      <div class="main spacing"></div>
      <form action="info-upload" method="post" class="email-upload center-horizontal">
        <div class="form-group">
          <input type="email" name="email" placeholder="您的邮箱" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default submit-button">获得第一手信息</button>
        </div>
      </form>
      <div class="footer center-horizontal"><a href="">进入我们的博客 >></a></div>
    </div>
    <!--<script src="jQuery/jquery.js" type="text/javascript"></script>-->
    <!--<script src="jquery-validation/jquery.validate.js" type="text/javascript"></script>-->
    <script type="text/javascript"></script>
    <!--<script src="index.js" type="text/javascript"></script>-->
  </body>
</html>