.center-vertical {
    display: block;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.center-horizontal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
.vertical-flex-parent {
    display: -webkit-flex;
    display: flex;
    flex-direction: column
}
.vertical-flex-parent>div {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}
.com-test {
    background-image: url("faviconspark.png")
}
.avatar.com-com1 {
    background-image: url("avatar1.jpg")
}
.avatar.com-com2 {
    background-image: url("avatar2.jpg")
}
.avatar.com-com3 {
    background-image: url("avatar3.jpg")
}
.avatar.com-com4 {
    background-image: url("avatar4.jpg")
}
.avatar.com-com5 {
    background-image: url("avatar5.jpg")
}
.avatar.com-com6 {
    background-image: url("avatar6.jpg")
}
.avatar.com-com7 {
    background-image: url("avatar7.jpg")
}
.avatar.com-com8 {
    background-image: url("avatar8.jpg")
}
.avatar.com-com9 {
    background-image: url("avatar9.jpg")
}
.loader,
.loader:before,
.loader:after {
    background: #FFF;
    -moz-animation: load1 1s infinite ease-in-out;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: ''
}
.loader:before {
    left: -1.5em;
    -moz-animation-delay: -0.32s;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s
}
.loader {
    text-indent: -9999em;
    margin: 8em auto;
    position: relative;
    font-size: 11px;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-animation-delay: -0.16s;
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s
}
.loader:after {
    left: 1.5em
}
@-moz-keyframes load1 {
    0%, 80%, 100% {
        -moz-box-shadow: 0 0 #FFF;
        box-shadow: 0 0 #FFF;
        height: 4em
    }
    40% {
        -moz-box-shadow: 0 -2em #fff;
        box-shadow: 0 -2em #fff;
        height: 5em
    }
}
@-webkit-keyframes load1 {
    0%, 80%, 100% {
        -webkit-box-shadow: 0 0 #FFF;
        box-shadow: 0 0 #FFF;
        height: 4em
    }
    40% {
        -webkit-box-shadow: 0 -2em #fff;
        box-shadow: 0 -2em #fff;
        height: 5em
    }
}
@keyframes load1 {
    0%, 80%, 100% {
        -moz-box-shadow: 0 0 #FFF;
        -webkit-box-shadow: 0 0 #FFF;
        box-shadow: 0 0 #FFF;
        height: 4em
    }
    40% {
        -moz-box-shadow: 0 -2em #fff;
        -webkit-box-shadow: 0 -2em #fff;
        box-shadow: 0 -2em #fff;
        height: 5em
    }
}
span.push-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 32px
}
@media (min-width: 768px) {
    span.push-wrapper {
        width: 44px
    }
}
@media (min-width: 992px) {
    span.push-wrapper {
        width: 64px
    }
}
span.push-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    opacity: 0
}
span.push-wrapper b.is-visible {
    opacity: 1;
    position: relative;
    -moz-animation: push-in 0.6s;
    -webkit-animation: push-in 0.6s;
    animation: push-in 0.6s
}
span.push-wrapper b.is-hidden {
    -moz-animation: push-out 0.6s;
    -webkit-animation: push-out 0.6s;
    animation: push-out 0.6s
}
@-moz-keyframes push-in {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(10%);
        transform: translateX(10%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
        transform: translateX(0)
    }
}
@-webkit-keyframes push-in {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(10%);
        transform: translateX(10%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@keyframes push-in {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(10%);
        -ms-transform: translateX(10%);
        -webkit-transform: translateX(10%);
        transform: translateX(10%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
@-moz-keyframes push-out {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
        transform: translateX(0)
    }
    60% {
        opacity: 0;
        -moz-transform: translateX(110%);
        transform: translateX(110%)
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(100%);
        transform: translateX(100%)
    }
}
@-webkit-keyframes push-out {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    60% {
        opacity: 0;
        -webkit-transform: translateX(110%);
        transform: translateX(110%)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}
@keyframes push-out {
    0% {
        opacity: 1;
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    60% {
        opacity: 0;
        -moz-transform: translateX(110%);
        -ms-transform: translateX(110%);
        -webkit-transform: translateX(110%);
        transform: translateX(110%)
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }
}
@-moz-keyframes push-down {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(10%);
        transform: translateY(10%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0)
    }
}
@-webkit-keyframes push-down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(10%);
        transform: translateY(10%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes push-down {
    0% {
        opacity: 0;
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(10%);
        -ms-transform: translateY(10%);
        -webkit-transform: translateY(10%);
        transform: translateY(10%)
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@-moz-keyframes push-up {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0)
    }
    60% {
        opacity: 0;
        -moz-transform: translateY(110%);
        transform: translateY(110%)
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%)
    }
}
@-webkit-keyframes push-up {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    60% {
        opacity: 0;
        -webkit-transform: translateY(110%);
        transform: translateY(110%)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}
@keyframes push-up {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    60% {
        opacity: 0;
        -moz-transform: translateY(110%);
        -ms-transform: translateY(110%);
        -webkit-transform: translateY(110%);
        transform: translateY(110%)
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}
body,
html {
    height: 100%;
    font-family: "open sans", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, 'Microsoft YaHei', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.first {
    height: 1200px;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url("bg.png");
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, #ffffff)), url("bg.png");
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, #ffffff 100%), url("bg.png");
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, #ffffff 100%), url("bg.png");
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, #ffffff 100%), url("bg.png");
    background-size: cover
}
@media (min-width: 992px) {
    .first {
        height: 100%
    }
}
.first>.row {
    width: 100%
}
@media (min-width: 1200px) {
    .first>.row {
        width: 1080px;
        height: 640px
    }
}
.first .list {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 6px;
}

.avatar {
    height: 45px;
    width: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    background-size: 45px 45px;
    background-repeat: no-repeat;
    margin-left: 8px;
    margin-right: 18px;
    float: left;
}
.avatar>img {
    opacity: 0;
    filter: alpha(opacity=0)
}
.detail-desc, .desc {
    font-size: 12px;
    color: #414141;
    text-align: left;
}

.desc {
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
}

.detail-desc {
    max-width: calc(100% - 86px);
    float: left;
    color: white;
}
@media (min-width: 768px) {
    .detail-desc {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .desc {
        font-size: 16px;
    }
}
@media (min-width: 992px) {
    .detail-desc {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .desc {
        font-size: 16px
    }
}
.com-badge {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background-color: white;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background-size: 16px 16px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
    top: 26px;
    left: 26px
}
.title {
    display: inline-block;
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 30px
}
.title span {
    line-height: 64px;
    top: 6px;
    margin-left: 24px;
    position: relative
}
.subtitle {
    font-weight: lighter;
    font-size: 16px
}
@media (min-width: 768px) {
    .subtitle {
        font-size: 22px
    }
}
@media (min-width: 992px) {
    .subtitle {
        font-size: 32px
    }
}
form.upload {
    margin-top: 30px;
    max-width: 270px
}
@media (min-width: 768px) {
    form.upload {
        width: 270px
    }
}

form.upload input {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    background: transparent;

}
@media (min-width: 768px) {
    form.upload input {
        height: 40px;
        font-size: 16px
    }
}
form.upload input:-moz-placeholder {
    font-weight: lighter;
    text-align: center
}
form.upload input::-moz-placeholder {
    font-weight: lighter;
    text-align: center
}
form.upload input:-ms-input-placeholder {
    font-weight: lighter;
    text-align: center
}
form.upload input::-webkit-input-placeholder {
    font-weight: lighter;
    text-align: center
}
form.upload .submit-button {
    border: none;
    height: 34px;
    font-size: 14px;
    width: 100%
}
@media (min-width: 768px) {
    form.upload .submit-button {
        font-size: 16px;
        height: 40px
    }
}
form.sign-up input {
    border: 1px solid #F35C5D
}
form.sign-up input:-moz-placeholder {
    color: #F35C5D
}
form.sign-up input::-moz-placeholder {
    color: #F35C5D
}
form.sign-up input:-ms-input-placeholder {
    color: #F35C5D
}
form.sign-up input::-webkit-input-placeholder {
    color: #F35C5D
}
form.sign-up input:focus {
    border-color: #F35C5D;
    -moz-box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, #F35C5D 0 0 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, #F35C5D 0 0 8px;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, #F35C5D 0 0 8px
}
form.sign-up .submit-button {
    font-weight: bold;
    background-color: #F35C5D;
    color: white;
}
form.more-info input {
    color: white;
    border: 1px solid white
}
form.more-info input:-moz-placeholder {
    color: white
}
form.more-info input::-moz-placeholder {
    color: white
}
form.more-info input:-ms-input-placeholder {
    color: white
}
form.more-info input::-webkit-input-placeholder {
    color: white
}
form.more-info input:focus {
    border-color: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, #fff 0 0 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, #fff 0 0 8px;
    box-shadow: rgba(0, 0, 0, 0.075) 0 1px 1px inset, #fff 0 0 8px
}
form.more-info .submit-button {
    border: none;
    background-color: #CE4241;
    color: white
}
.footer {
    letter-spacing: 1px;
    margin-top: 80px;
    font-size: 16px;
    font-weight: lighter
}
.footer.sign-up {
    display: none
}
.footer.sign-up a,
.footer.sign-up a:visited,
.footer.sign-up a:hover,
.footer.sign-up a:active {
    color: #F35C5D;
    text-decoration: none
}
@media (min-width: 992px) {
    .footer.sign-up {
        display: block
    }
}
.footer.more-info a,
.footer.more-info a:visited,
.footer.more-info a:hover,
.footer.more-info a:active {
    color: white;
    text-decoration: underline
}
.second {
    height: 550px;
    background-color: #F35C5D
}
.second .row {
    width: 1190px;
    margin-top: 95px;
    color: white
}
.third {
    height: 350px;
    color: #F35C5D
}
.third .row {
    margin-top: 100px;
    width: 700px
}
.forth {
    height: 550px;
    background-color: #414141
}
.modal-full {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #F35C5D
}
.modal-full h1 {
    font-size: 24px;
    margin-bottom: 20px
}
@media (min-width: 768px) {
    .modal-full h1 {
        font-size: 36px;
        margin-bottom: 30px;
        width: 600px
    }
}
@media (min-width: 768px) {
    .modal-full p.lead {
        width: 560px
    }
}
#qrcode .modal-dialog .modal-content {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px
}
#qrcode .modal-dialog .modal-header {
    -moz-border-radius-topleft: 20px;
    -webkit-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -moz-border-radius-topright: 20px;
    -webkit-border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #F35C5D;
    color: white
}
#qrcode .modal-dialog img {
    border: 1px solid transparent;
    max-width: 250px;
}
#qrcode .modal-dialog {
    max-width: 400px;
}

.list-row::after {
  display: table;
  content: " ";
  box-sizing: border-box;
  clear: both;
}

.list-item {
    background: url('gradient-bg.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 9px 9px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    margin-left: calc((100% - 270px)/2);
    width: 270px;
    -moz-transition-property: background-size, background-position;
    -o-transition-property: background-size, background-position;
    -webkit-transition-property: background-size, background-position;
    transition-property: background-size, background-position;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    -o-transition-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    transition-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53);
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    cursor: pointer;
}

@media (min-width: 992px) {
    .first .list .list-item {
        width: 100%;
        margin-left: inherit;
    }
}

.list-item.active {
  background-size: 900px 900px;
  background-position: -440px -440px;
}

.list-item.active .desc {
    color: white;
}

.badge-column {
    width: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    background-size: 45px 45px;
    background-repeat: no-repeat;
    margin-left: 8px;
    margin-right: 18px;
    float: left;
}

.badge-item {
    height: 45px;
    width: 45px;
}

.detail-info {
    display: none;
    margin-top: 6px;
}

@media (min-width: 992px) {
    .detail-info {
        margin-top: 10px;
    }
}

.list-item.active .detail-info {
    display: block;
}